@model SteamCredentialsViewModel

<div class="col-8 text-start">

    <div>
        <form method="post" asp-controller="MySteam" asp-action="IndexSteamCredentials">
            <div class="mt-2">
                <label class="form-label c-s1" for="">SteamID:</label>
                <div>
                <input asp-for="@Model.SteamId" class="form-control" />
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-info text-end mt-2">Fetch</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}